@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
.opportunity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  margin-top: 140px;
  margin-bottom: 83px;
}

.opportunity__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #E0E0E0;
  min-height: 155px;
}

.opportunity__item__heading {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #156963;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  padding: 22px 0 16px 18px;
}

.opportunity__item__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #2C1500;
  width: 90%;
  padding: 0 16px;
}

.featured__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 16px;
}

.featured__heading__h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.featured__heading #select {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 12px;
}

.featured__goods {
  margin: 24px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured__goods__item {
  width: 18.5%;
}

.featured__goods__item__desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.featured__goods__item__desc__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.featured__goods__item__desc__price {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

.more__info {
  min-height: 609px;
  background: url("image/more__bg.png") no-repeat;
  background-position: right;
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.more__info__text {
  width: 522px;
  margin-bottom: 74px;
}

.more__info__text__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
}

.more__info__text__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  opacity: 0.8;
}

.visit {
  height: 360px;
  background: #F3F4F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.visit__shop {
  margin-top: 88px;
  margin-left: 97px;
}

.visit__shop__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  width: 585px;
}

.visit__shop__btn {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  background: #156963;
  border: 1px solid #156963;
  color: #FAFEFE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 10px 42px;
  margin-top: 32px;
}

.visit__img {
  width: 480px;
  background: url("image/visit_bg.png") no-repeat;
}

.footer {
  margin-top: 60px;
  height: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__location {
  width: 282px;
  font-family: 'Work Sans', sans-serif;
}

.footer__location__heading {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #156963;
  margin-bottom: 24px;
}

.footer__location__text {
  font-size: 16px;
  font-style: bold;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #333333;
}

.footer__location__desc {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #4F4F4F;
  margin-top: 10px;
}

.footer__list {
  font-family: 'Work Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.footer__list .first {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}

.footer__list__item {
  padding-bottom: 20px;
}

.footer__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  font-family: 'Work Sans', sans-serif;
}

.footer__submit__heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}

.footer__submit__email {
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  width: 234px;
  height: 32px;
}

.footer__submit__email::-webkit-input-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  padding-left: 16px;
}

.footer__submit__email:-ms-input-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  padding-left: 16px;
}

.footer__submit__email::-ms-input-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  padding-left: 16px;
}

.footer__submit__email::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  padding-left: 16px;
}

.footer__submit__btn {
  font-family: 'Raleway', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #156963;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 2px;
  width: 51px;
  height: 22px;
  padding: 4px 12px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 56px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav button:nth-child(-n+2) {
  margin: 0 32px;
}

.header__nav__signUp {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 32px;
  color: #156963;
}

.header__nav__signUp:hover {
  border: 1px solid #156963;
}

.header__nav__signIn {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background: #156963;
  padding: 8px 32px;
}

.promo {
  height: 740px;
  background: url("image/Mask_bg.png") no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.promo__text {
  width: 519px;
  height: 286px;
  float: right;
  margin-right: 72px;
}

.promo__text__heading {
  font-weight: 500;
  font-size: 68px;
  line-height: 83px;
  color: #156963;
  width: 523px;
}

.promo__text__paragraph {
  font-size: 18px;
  line-height: 32px;
  color: #2C1500;
  opacity: 0.8;
  margin-bottom: 110px;
}

.promo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__button__prev {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 320px;
  height: 160px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__button__prev img {
  margin-right: 13px;
}

.promo__button__prev__span {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #156963;
}

.promo__button__next {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #156963;
  width: 320px;
  height: 160px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__button__next img {
  margin-left: 13px;
}

.promo__button__next__span {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */